p {
    /* Chromium will apply a default margin to any p element. */
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

i.fa {
    /* Firefox won't inherit color property from body. */
    color: #222;
}
